{% extends "login_layout.html" %}
{% block title %}
Get-in
{% endblock %}

{% block content %}

{% if success != "" %}
<p style="color:green;">{{ success }}</p>
{% endif %}

<div class="page active" id="page-stats">
    <div class="hero-card">
        <div class="hero-title" id="title">Hop in, <span>fun’s rolling! </span></div>
        <form action="/getin" method="POST" class="form">
            <div class="input-wrapper">
                <input
                    class="input-item"
                    type="test"
                    name="username"
                    id="username"
                    placeholder="Username"
                    required
                />
            </div>

            <button id="actionBtn" type="submit">Login</button>
        </form>


        <div id="msg" class="message"></div>
    </div>
</div>
{% endblock %}
